<div class="objects">

    <div class="container-fluid" #myBounds>

        <div ngDraggable class="square" (edge)="checkEdge($event)" [bounds]="myBounds" [inBounds]="inBounds" [zIndex]="100">
        </div>

        <div ngDraggable class="circle" (edge)="checkEdge($event)" [bounds]="myBounds" [inBounds]="inBounds" [zIndex]="50">
        </div>

        <div ngDraggable class="triangle" (edge)="checkEdge($event)" [bounds]="myBounds" [inBounds]="inBounds" [zIndex]="1">
        </div>

    </div>
</div>

<router-outlet></router-outlet>